# Developpers Folders
.vscode

# Build Folders
Sysroot
Bin

# Prerequisites
*.d

# Compiled Object files
*.vhd
*.slo
*.lo
*.o
*.obj
*.dat

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary scripts/files
llvm.sh

Disk/