# Prerequisites
*.d # i wont remove this but you dont use D lang

#hard drive files
*.vhd

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# this is cpp not Fortran

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.iso
*.elf
.vscode/
#only elf is generated as a executable
